body {
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

#table {
  padding: 80px 50px;
  border: 2px solid #6b4200;
  border-radius: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */

}

.hand {
  padding: 10px;
  border-radius: 3px;
  height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

  margin-bottom: 10px;
}

.hand label {
  float: left;
  margin: 0 5px;
}

.card {
  float: left;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 60px;
  height: 80px;
  margin: 0 5px;
}

#messages {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 5px;
  height: 2em;
}

/*body {
  background-color: firebrick;
}

#message {
  top: 0%;
  left: 5%;
  width: 90%;
  height: 15%;
  position: absolute;
  border: solid 3px;
}

#dealer-hand {
  top:20%;
  left: 5%;
  width: 90%;
  height: 30%;
  position: absolute;
  border: solid 3px;
}

#player-hand {
  top: 55%;
  left: 5%;
  width: 90%;
  height: 30%;
  position: absolute;
  border: solid 3px;
}
.card {
  float: left;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 60px;
  height: 80px;
  margin: 0 5px;
}

.buttons {
  top: 86%;
  left: 5%;
  width: 90%;
  height: 5%;
  position: absolute;
}*/
