body {
background-color: #071C2C;
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 10px;
}
img {
  border-bottom: solid 3px black;

}
h1 {
  padding-left: 10px;
  margin: 0;
}
a {
  color: #9d9d9d;
}
a:focus a:hover {
  color: #9d9d9d;
}
.gitlinks {
  margin-top: 50px;
  padding-top: 50px;
}
.progress {background: rgba(255, 255, 255, 1); background: -webkit-linear-gradient(top, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 1) 100%); background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 1) 100%); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 20px;}
.progress-bar-custom {background: rgba(124, 130, 135, 1); background: -webkit-linear-gradient(top, rgba(212, 212, 212, 1) 0%, rgba(124, 130, 135, 1) 100%); background: linear-gradient(to bottom, rgba(212, 212, 212, 1) 0%, rgba(124, 130, 135, 1) 100%);}
img.matthew {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-bottom: none;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
img.matthew:hover {
  filter: none;
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
}
.container {
  position: relative;
  width: 100%;
  padding: 0;
}
#box-0 {
  background-color: #005DA4;
  color: white;
  margin-top: 56px;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #9d9d9d;
  letter-spacing: -5px;
  line-height: 120px;
}
.welcome {
  color: #393939;
}
.small {
  color: #393939;
}
.and {
  color: #393939;
}
.name {
  color: #9d9d9d;
  text-shadow: 2px 2px 4px #393939;
}
.title {
  color: #393939;
}
#box-1 {
  /*border-radius: 10px;*/
  background-color: #071C2C;
  color: #9d9d9d;
  text-shadow: .5px .5px 1px #393939;
  float: center;
  width: 100%;
}
#box-2 {
  background-color: #005DA4;
  color: #9d9d9d;
  text-shadow: 1px 1px 2px #393939;
  font-size: 25px;
  float: center;
  padding-left: 10px;
}
#box-3 {
  background-color: #071C2C;
  float: center;
  font-size: 25px;
  color: #393939;
  text-shadow: .5px .5px 1px #9D9D9D;
  width: 100%;
  padding-top: 10px;
}
/*#box-4 {
  border-radius: 10px;
  background-color: #FF5A09;
  float: center;
  width 100%
  min-height: 20%;
  padding-left: 10px;
  padding-top: 2px;
}*/
#box-5 {
  background-color: #005DA4;
  color: #9d9d9d;
  text-shadow: 1px 1px 2px #393939;
  font-size: 25px;
  float: center;
  width: 100%;
  min-height: 20%;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 15px;
  margin-bottom: 75px;
}
#box-6 {
  background-color: #071C2C;
  color: #393939;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}
img.memory {
  max-width: 350px;
  max-height: 200px;
  border-bottom: none;
}
img.roast {
  max-width: 200px;
  max-height: 200px;
  border-bottom: none;
}
img.blackjack {
  max-width: 200px;
  max-height: 200px;
  border-bottom: none;
}
img.sportakus {
  max-width: 200px;
  max-height: 200px;
  border-bottom: none;
}
#plugin {
  z-index: 10;
}
.btn:focus {
  outline: inherit;
}
.navbar {
  background-color: transparent;
  /*margin-top: 20px;*/
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #005DA4;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #005DA4;
}
/*Email form*/
.form-control {
  width: 75%;
}
.emailButton {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 50px;
}
.about-title {
  text-align: center;
  font-size: 50px;
  padding: 5px
}
.btn-success {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
  background-image: none;
  box-shadow: none;
}
.btn {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}
.gameButton {
  float: right;
}
.social {
  margin: 0;
  padding: 0;
}
.social-footer {
  float: none;
  text-align: center;
}
.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
  float: right;
}
.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  /*background-color: #blue;*/
  font-size: 22px;
  text-align:center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover { /* round facebook icon*/
  background: #4060A5;
}
.social .fa-github:hover { /* round github icon*/
  background: #343434;
  border: solid 1px white;
}
.social .fa-linkedin:hover { /* round linkedin icon*/
  background: #0094BC;
}
