<div class="container-fluid">
  <h1 class="optionsHeader">Tell us what you want!</h1>
  <div class="row packages">
    <div class="col col-md-2"></div>
    <div class="col col-md-4 individual">
      <div class="options">
        <h3>Individual Package</h3><br>
        <h5>For those who drink alone</h5><br>
        <img src="/images/solo-drinker.jpg" alt="Individual Package" /><br>
        <table>
          <tr>
            <td class="leftOption">Cups:</td>
            <td class="rightOption">14</td>
          </tr>
          <tr>
            <td class="leftOption">Price per cup:</td>
            <td class="rightOption">$0.50</td>
          </tr>
          <tr>
            <td class="leftOption">Total:</td>
            <td class="rightOption">$7.00</td>
          </tr>
          <tr>
            <td class="leftOption"><label>Grind Type:</label></td>
            <td>
              <div class="form-group rightOption">
                <select class="form-control" ng-model="grind1">
                  <option ng-repeat="grind in data">{{grind}}</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
        <button ng-click="order(grind1, '0.35')" class="btn optionsBtn" type="submit" name="button">Order</button>
      </div>
    </div>

    <div class="col col-md-4 individual">
      <div class="options">
        <h3>Family Package</h3><br>
        <h5>For those who drink together</h5><br>
        <img src="/images/coffee-drinkers.jpg" alt="Family Package" /><br>
        <table>
          <tr>
            <td class="leftOption">Cups:</td>
            <td class="rightOption">40</td>
          </tr>
          <tr>
            <td class="leftOption">Price per cup:</td>
            <td class="rightOption">$0.45</td>
          </tr>
          <tr>
            <td class="leftOption">Total:</td>
            <td class="rightOption">$18.00</td>
          </tr>
          <tr>
            <td class="leftOption"><label>Grind Type:</label></td>
            <td>
              <div class="form-group rightOption">
                <select class="form-control" ng-model="grind2">
                  <option ng-repeat="grind in data">{{grind}}</option>
                  <!-- <option>Extra Coarse</option>
                  <option>Coarse</option>
                  <option>Medium Coarse</option>
                  <option>Medium</option>
                  <option>Medium-Fine</option>
                  <option>Fine</option>
                  <option>Extra Fine</option> -->
                </select>
              </div>
            </td>
          </tr>
        </table>
        <button ng-click="order(grind2, '0.9')" class="btn optionsBtn" type="submit" name="button">Order</button>
      </div>
    </div>
  </div>
</div>
